<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPresentacion.Properties.Settings.ProveedorConnectionString"
            connectionString="Data Source=.;Initial Catalog=Proveedor;Persist Security Info=True;User ID=sa;Password=sqlserver"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>